// Colors
$primary-color: #D0EFFF;
$secondary-color: #A3E7FC;
$background-color:   #1B1F3B;
$text-color: #FFB703;

// Font
$font-family:'Raleway', sans-serif;

// Spacing
$padding: 16px;
$margin: 16px;
