// Colors
$primary-color: #d0efff;
$secondary-color: #a3e7fc;
$background-color: #1b1f3b;
$text-color: #ffb703;

// Font
$font-family: 'Raleway', sans-serif;

// Spacing
$padding: 16px;
$margin: 16px;
